.root {
    -fx-background-color: burlywood;
    -fx-background-image: url("../img/matrix.jpg");
    -fx-background-size: stretch;
}

#jed1, #jed2, #result {
    -fx-background-color: lightskyblue;
    -fx-border-color: darkred;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-border-radius: 3px;
    -fx-font-family: "Tahoma","Arial";
    -fx-padding: 10px;
}

#result {
    -fx-font-size: 11pt;
}


#jed1Label, #jed2Label,#resultLabel {
    -fx-background-color: lightcoral;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: darkblue;
    -fx-padding: 5px;
}

#calc {
    -fx-background-color: deepskyblue;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: darkblue;
    -fx-padding: 10px;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-border-color: darkred;
}